@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}

.btn-17-fixed {
  position: relative;
  overflow: hidden;
  border-radius: 99rem;
  border: 2px solid black;
  background: linear-gradient(to right, #f97316, #eab308);
  padding: 0.8rem 3rem;
  font-weight: 900;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

.btn-17-fixed:hover {
  background: black;
}

.btn-17-fixed .text {
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
}

.btn-17-fixed:before,
.btn-17-fixed:after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #000000, #000000);
  height: 102%;
  width: 100%;
  transition: transform 0.2s ease;
  z-index: 1;
}


.btn-17-fixed:before {
  left: calc(-50% - 50% * 0.2);
  top: -104%;
  transform: skew(30deg) translateY(0);
}

.btn-17-fixed:after {
  left: calc(50% + 50% * 0.2);
  top: 102%;
  transform: skew(30deg) translateY(0);
}

.btn-17-fixed:hover:before {
  transform: skew(30deg) translateY(100%);
}

.btn-17-fixed:hover:after {
  transform: skew(30deg) translateY(-102%);
}